<div class="flex flex-col justify-between gap-4 sm:flex-row">
  <input
    hlmInput
    class="w-full md:w-80 bg-background"
    placeholder="Search by customer name"
    [(ngModel)]="customerName"
    (ngModelChange)="onCustomerNameChange($event)"
  />
  <div class="flex justify-end gap-4">
    <button hlmBtn>
      <hlm-icon size="sm" class="mr-2" name="lucideFilePlus2" />
      Create invoice
    </button>
    <button hlmBtn>
      <hlm-icon size="sm" class="mr-2" name="lucideImport" />
      Import invoices
    </button>
  </div>
</div>
<brn-table
  hlm
  stickyHeader
  class="border-border mt-4 block min-h-[400px] overflow-auto rounded-md border"
  [dataSource]="invoices"
  [displayedColumns]="_allDisplayedColumns()"
  [trackBy]="_trackBy"
>
  <brn-column-def name="invoiceId" class="w-[15%]">
    <hlm-th *brnHeaderDef>Invoice ID</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      {{ invoice.invoiceId | formatId }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="customerName" class="w-[15%]">
    <hlm-th *brnHeaderDef>Customer Name</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      {{ invoice.customerName }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="unitConsumption" class="w-[13%]">
    <hlm-th *brnHeaderDef>Unit Consumption</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      {{ invoice.unitConsumption }} Kw
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="billDuration" class="w-[13%]">
    <hlm-th *brnHeaderDef>Bill Duration</hlm-th>
    <hlm-td class="font-semibold" *brnCellDef="let invoice">
      {{ invoice.billDuration }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="billDueDate" class="w-[13%]">
    <hlm-th *brnHeaderDef>Bill Due Date</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      {{ invoice.billDueDate | date : "MMM d, y" }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="amountDue" class="w-[11%]">
    <hlm-th *brnHeaderDef>Amount Due</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      {{ invoice.totalAmountDue | currency : "INR" }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="status" class="w-[8%]">
    <hlm-th *brnHeaderDef>Status</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      <span
        class="py-2 px-4 text-white cursor-default rounded-full"
        [class]="{
            'bg-primary': invoice.paymentStatus === 'PAID',
            'bg-destructive': invoice.paymentStatus === 'UNPAID',
          }"
        >{{ invoice.paymentStatus | titlecase }}</span
      >
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="actions" class="w-[8%]">
    <hlm-th *brnHeaderDef>Actions</hlm-th>
    <hlm-td *brnCellDef="let invoice" class="cursor-pointer">
      <button
        hlmBtn
        variant="ghost"
        title="View Invoice"
        size="icon"
        (click)="viewInvoicePdf(invoice.invoicePdf, invoice.invoiceId)"
      >
        <hlm-icon name="lucideEye" class="text-primary text-yellow-500" />
      </button>
    </hlm-td>
  </brn-column-def>
</brn-table>
<nav hlmPagination class="mt-4 flex justify-end">
  
  <brn-select
    class="inline-block h-full"
    placeholder="{{ _availablePageSizes[0] }}"
    [(ngModel)]="pageSize"
    (ngModelChange)="onPageSizeChange($event)"
  >
    <hlm-select-trigger class="inline-flex mr-1 w-15 h-full">
      <hlm-select-value />
    </hlm-select-trigger>
    <hlm-select-content class="cursor-pointer h-full">
      @for (size of _availablePageSizes; track size) {
      <hlm-option [value]="size">
        {{ size === 10000 ? "All" : size }}
      </hlm-option>
      }
    </hlm-select-content>
  </brn-select>
  <ul hlmPaginationContent class="w-fit gap-2">
    <li hlmPaginationItem class="w-20">
      <button
        hlmPaginationLink
        class="w-full px-4 flex items-center bg-white border-border"
        [disabled]="currentPage === 0"
        (click)="
          loadInvoices({
            first: (currentPage - 1) * pageSize,
            rows: pageSize
          })
        "
      >
        Previous
      </button>
    </li>
    <li hlmPaginationItem class="w-20">
      <button
        hlmPaginationLink
        class="w-full px-4 flex items-center bg-white border-border"
        [disabled]="(currentPage + 1) * pageSize >= totalInvoices"
        (click)="
          loadInvoices({
            first: (currentPage + 1) * pageSize,
            rows: pageSize
          })
        "
      >
        Next
      </button>
    </li>
  </ul>
</nav>
