<div class="flex flex-col justify-between gap-4 sm:flex-row">
  <input
    hlmInput
    class="w-full md:w-80 bg-background"
    placeholder="Search by customer name"
    [(ngModel)]="customerName"
    (ngModelChange)="onCustomerNameChange($event)"
  />
  <div class="flex justify-end gap-4">
    <hlm-dialog>
      <button brnDialogTrigger hlmBtn>
        <hlm-icon size="sm" class="mr-2" name="lucideFilePlus2" />Create invoice
      </button>
      <hlm-dialog-content *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 brnDialogTitle hlm class="text-xl font-semibold">
            Create new invoice
          </h3>
          <p brnDialogDescription hlm class="text-muted-foreground">
            Please enter invoice data
          </p>
        </hlm-dialog-header>
        <div class="py-4">
          <label hlmLabel>Meter number
            <input 
              class="w-80" 
              hlmInput 
              type="text" 
              placeholder="Enter meter number"
              #meterNo
            />
          </label>
          <label hlmLabel>Units consumption
            <input 
              class="w-80" 
              hlmInput 
              type="text" 
              placeholder="Enter unit consumption"
              #unitsConsumed
            />
          </label>
          <label hlmLabel>Bill Duration
            <input 
              class="w-80" 
              hlmInput 
              type="text" 
              placeholder="Enter bill duration"
              #billDuration
            />
          </label>
          <label hlmLabel>Bill Due Date
            <input 
              class="w-80" 
              hlmInput 
              type="date" 
              placeholder="Enter bill due date"
              #billDueDate
            />
          </label>
        </div>
        <hlm-dialog-footer>
          <button hlmBtn class="w-full" (click)="createInvoice(meterNo.value, unitsConsumed.value, billDuration.value, billDueDate.value, ctx)" type="submit">
            <hlm-icon size="sm" class="mr-2" name="lucideFilePlus2" />Create
          </button>
        </hlm-dialog-footer>
      </hlm-dialog-content>
    </hlm-dialog>
    <hlm-dialog>
      <button brnDialogTrigger hlmBtn>
        <hlm-icon size="sm" class="mr-2" name="lucideImport" />Import invoices
      </button>
      <hlm-dialog-content *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 brnDialogTitle hlm class="text-xl font-semibold">
            Import Invoices Data
          </h3>
          <p brnDialogDescription hlm class="text-muted-foreground">
            Import csv file by selecting it from your computer
          </p>
        </hlm-dialog-header>
        <div class="py-4">
          <input
            class="w-full"
            hlmInput
            type="file"
            accept=".csv"
            (change)="onFileSelected($event)"
            #fileInput
          />
          <label hlmLabel>Bill Duration
            <input 
              class="w-80" 
              hlmInput 
              type="text" 
              placeholder="Enter bill duration"
              #billDuration
            />
          </label>
          <label hlmLabel>Bill Due Date
            <input 
              class="w-80" 
              hlmInput 
              type="date" 
              placeholder="Enter bill due date"
              #billDueDate
            />
          </label>
        </div>
        <hlm-dialog-footer>
          <button hlmBtn class="w-full" (click)="importFile(fileInput, billDuration.value, billDueDate.value, ctx)" type="submit">
            <hlm-icon size="sm" class="mr-2" name="lucideImport" />Import
          </button>
        </hlm-dialog-footer>
      </hlm-dialog-content>
    </hlm-dialog>
  </div>
</div>
<brn-table
  hlm
  stickyHeader
  class="border-border mt-4 block min-h-[400px] overflow-auto rounded-md border"
  [dataSource]="invoices"
  [displayedColumns]="_allDisplayedColumns()"
  [trackBy]="_trackBy"
>
  <brn-column-def name="invoiceId" class="w-[15%]">
    <hlm-th *brnHeaderDef>Invoice ID</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      {{ invoice.invoiceId | formatId }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="customerName" class="w-[15%]">
    <hlm-th *brnHeaderDef>Customer Name</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      {{ invoice.customerName }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="unitConsumption" class="w-[13%]">
    <hlm-th *brnHeaderDef>Unit Consumption</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      {{ invoice.unitConsumption }} Kw
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="billDuration" class="w-[13%]">
    <hlm-th *brnHeaderDef>Bill Duration</hlm-th>
    <hlm-td class="font-semibold" *brnCellDef="let invoice">
      {{ invoice.billDuration }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="billDueDate" class="w-[13%]">
    <hlm-th *brnHeaderDef>Bill Due Date</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      {{ invoice.billDueDate | date : "MMM d, y" }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="amountDue" class="w-[11%]">
    <hlm-th *brnHeaderDef>Amount Due</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      {{ invoice.totalAmountDue | currency : "INR" }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="status" class="w-[8%]">
    <hlm-th *brnHeaderDef>Status</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      <span
        class="py-2 px-4 text-white cursor-default rounded-full"
        [class]="{
            'bg-primary': invoice.paymentStatus === 'PAID',
            'bg-destructive': invoice.paymentStatus === 'UNPAID',
          }"
        >{{ invoice.paymentStatus | titlecase }}</span
      >
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="actions" class="w-[8%]">
    <hlm-th *brnHeaderDef>Actions</hlm-th>
    <hlm-td *brnCellDef="let invoice" class="cursor-pointer">
      <button
        hlmBtn
        variant="ghost"
        title="View Invoice"
        size="icon"
        (click)="viewInvoicePdf(invoice.invoicePdf, invoice.invoiceId)"
      >
        <hlm-icon name="lucideEye" class="text-primary text-yellow-500" />
      </button>
    </hlm-td>
  </brn-column-def>
</brn-table>
<nav hlmPagination class="mt-4 flex justify-end">
  
  <brn-select
    class="inline-block h-full"
    placeholder="{{ _availablePageSizes[0] }}"
    [(ngModel)]="pageSize"
    (ngModelChange)="onPageSizeChange($event)"
  >
    <hlm-select-trigger class="inline-flex mr-1 w-15 h-full">
      <hlm-select-value />
    </hlm-select-trigger>
    <hlm-select-content class="cursor-pointer h-full">
      @for (size of _availablePageSizes; track size) {
      <hlm-option [value]="size">
        {{ size === 10000 ? "All" : size }}
      </hlm-option>
      }
    </hlm-select-content>
  </brn-select>
  <ul hlmPaginationContent class="w-fit gap-2">
    <li hlmPaginationItem class="w-20">
      <button
        hlmPaginationLink
        class="w-full px-4 flex items-center bg-white border-border"
        [disabled]="currentPage === 0"
        (click)="
          loadInvoices({
            first: (currentPage - 1) * pageSize,
            rows: pageSize
          })
        "
      >
        Previous
      </button>
    </li>
    <li hlmPaginationItem class="w-20">
      <button
        hlmPaginationLink
        class="w-full px-4 flex items-center bg-white border-border"
        [disabled]="(currentPage + 1) * pageSize >= totalInvoices"
        (click)="
          loadInvoices({
            first: (currentPage + 1) * pageSize,
            rows: pageSize
          })
        "
      >
        Next
      </button>
    </li>
  </ul>
</nav>
