<app-pay-card />
<div>
  <h1 class="text-2xl font-bold mb-4">My Invoices</h1>
</div>
<div class="flex flex-col justify-between gap-4 sm:flex-row">
  <input
    hlmInput
    class="w-full md:w-80 bg-background"
    placeholder="Search by bill duration"
    [(ngModel)]="billDuration"
    (ngModelChange)="onBillDurationChange($event)"
  />
</div>
<brn-table
  hlm
  stickyHeader
  class="border-border mt-4 block min-h-[400px] overflow-auto rounded-md border"
  [dataSource]="invoices"
  [displayedColumns]="_allDisplayedColumns()"
  [trackBy]="_trackBy"
>
  <brn-column-def name="invoiceId" class="w-[15%]">
    <hlm-th *brnHeaderDef>Invoice ID</hlm-th>
    <hlm-td truncate *brnCellDef="let invoice">
      {{ invoice.invoiceId }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="unitConsumption" class="w-[15%]">
    <hlm-th *brnHeaderDef>Unit Consumption</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      {{ invoice.unitConsumption }} Kw
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="billDuration" class="w-[15%]">
    <hlm-th *brnHeaderDef>Bill Duration</hlm-th>
    <hlm-td class="font-semibold" *brnCellDef="let invoice">
      {{ invoice.billDuration }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="billDueDate" class="w-[15%]">
    <hlm-th *brnHeaderDef>Bill Due Date</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      {{ invoice.billDueDate | date : "MMM d, y" }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="amountDue" class="w-[15%]">
    <hlm-th *brnHeaderDef>Amount Due</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      {{ invoice.totalAmountDue | currency : "INR" }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="status" class="w-[15%]">
    <hlm-th *brnHeaderDef>Status</hlm-th>
    <hlm-td *brnCellDef="let invoice">
      <span
        class="py-2 px-4 text-white cursor-default rounded-full"
        [class]="{
          'bg-primary': invoice.paymentStatus === 'PAID',
          'bg-destructive': invoice.paymentStatus === 'UNPAID',
        }"
        >{{ invoice.paymentStatus | titlecase }}</span
      >
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="actions" class="w-[10%]">
    <hlm-th *brnHeaderDef></hlm-th>
    <hlm-td *brnCellDef="let invoice" class="cursor-pointer">
      <button
        hlmBtn
        variant="ghost"
        title="Download Invoice"
        size="icon"
        (click)="downloadInvoicePdf(invoice.invoicePdf, invoice.invoiceId)"
      >
        <hlm-icon name="lucideDownload" class="text-primary" />
      </button>
    </hlm-td>
  </brn-column-def>
  <div
    class="flex items-center justify-center p-20 text-muted-foreground"
    brnNoDataRow
  >
    No data available
  </div>
</brn-table>
<nav hlmPagination class="mt-4">
  <ul hlmPaginationContent class="w-fit gap-6">
    <li hlmPaginationItem class="w-28">
      <button
        hlmPaginationLink
        class="w-full px-4 flex items-center"
        [disabled]="currentPage === 0"
        (click)="
          loadInvoices({ first: (currentPage - 1) * pageSize, rows: pageSize })
        "
      >
        <hlm-icon name="lucideChevronLeft" class="h-fit" />
        Previous
      </button>
    </li>
    <div class="flex gap-2 items-center">
      <li
        hlmPaginationItem
        *ngFor="let i of calculatePageNumbers(); trackBy: trackByPageIndex"
        class="cursor-pointer"
      >
        <a
          hlmPaginationLink
          [class]="i === currentPage ? 'text-primary' : ''"
          (click)="loadInvoices({ first: i * pageSize, rows: pageSize })"
        >
          {{ i + 1 }}</a
        >
      </li>
      @if(showEllipsisBefore()){
      <li hlmPaginationItem>
        <hlm-pagination-ellipsis />
      </li>
      }
    </div>
    <li hlmPaginationItem class="w-28">
      <button
        hlmPaginationLink
        class="w-full px-4 flex items-center"
        [disabled]="(currentPage + 1) * pageSize >= totalInvoices"
        (click)="
          loadInvoices({ first: (currentPage + 1) * pageSize, rows: pageSize })
        "
      >
        Next
        <hlm-icon name="lucideChevronRight" class="h-fit" />
      </button>
    </li>
  </ul>
  <brn-select
    class="inline-block"
    placeholder="{{ _availablePageSizes[0] }}"
    [(ngModel)]="pageSize"
    (ngModelChange)="onPageSizeChange($event)"
  >
    <hlm-select-trigger class="inline-flex mr-1 w-15 h-9">
      <hlm-select-value />
    </hlm-select-trigger>
    <hlm-select-content class="cursor-pointer">
      @for (size of _availablePageSizes; track size) {
      <hlm-option [value]="size">
        {{ size === 10000 ? "All" : size }}
      </hlm-option>
      }
    </hlm-select-content>
  </brn-select>
</nav>