<div class="flex flex-col justify-between gap-4 sm:flex-row">
  <input
    hlmInput
    class="w-full md:w-80 bg-background"
    placeholder="Search by meter number"
    [(ngModel)]="meterNo"
    (ngModelChange)="onMeterNoChange($event)"
  />
  <div class="flex justify-end gap-4">
    <button hlmBtn>
      <hlm-icon size="sm" class="mr-2" name="lucideUserPlus" />
      New customer
    </button>
    <hlm-dialog>
      <button brnDialogTrigger hlmBtn>
        <hlm-icon size="sm" class="mr-2" name="lucideImport" />Import Customers
      </button>
      <hlm-dialog-content *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 brnDialogTitle hlm class="text-xl font-semibold">
            Import Customers Data
          </h3>
          <p brnDialogDescription hlm class="text-muted-foreground">
            Import csv file by selecting it from your computer
          </p>
        </hlm-dialog-header>
        <div class="py-4">
          <input
            class="w-full"
            hlmInput
            type="file"
            ccept=".csv"
            (change)="onFileSelected($event)"
          />
        </div>
        <hlm-dialog-footer>
          <button hlmBtn class="w-full" type="submit">
            <hlm-icon size="sm" class="mr-2" name="lucideImport" />Import
          </button>
        </hlm-dialog-footer>
      </hlm-dialog-content>
    </hlm-dialog>
  </div>
</div>
<brn-table
  hlm
  stickyHeader
  class="border-border mt-4 block min-h-[400px] overflow-auto rounded-md border"
  [dataSource]="customers"
  [displayedColumns]="_allDisplayedColumns()"
  [trackBy]="_trackBy"
>
  <brn-column-def name="meterNo" class="w-[16%]">
    <hlm-th *brnHeaderDef>Meter No</hlm-th>
    <hlm-td *brnCellDef="let customer">
      {{ customer.meterNo }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="name" class="w-[16%]">
    <hlm-th *brnHeaderDef>Name</hlm-th>
    <hlm-td *brnCellDef="let customer">
      {{ customer.name }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="email" class="w-[16%] text-center">
    <hlm-th *brnHeaderDef>Email</hlm-th>
    <hlm-td truncate *brnCellDef="let customer">
      {{ customer.email }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="phone" class="w-[16%]">
    <hlm-th *brnHeaderDef>Phone</hlm-th>
    <hlm-td *brnCellDef="let customer">
      {{ customer.phone }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="address" class="w-[16%]">
    <hlm-th *brnHeaderDef>Address</hlm-th>
    <hlm-td *brnCellDef="let customer">
      {{ customer.address }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="actions" class="w-[20%]">
    <hlm-th *brnHeaderDef [attr.colspan]="4">Actions</hlm-th>
    <hlm-td
      *brnCellDef="let customer"
      class="cursor-pointer"
      [attr.colspan]="4"
    >
      <div class="flex gap-2">
        <button hlmBtn variant="ghost" title="View Customer" size="sm">
          <hlm-icon name="lucideEye" class="text-primary w-[1.3rem] h-[1.3rem]" />
        </button>
        <button hlmBtn variant="ghost" title="Edit Customer" size="icon">
          <hlm-icon name="lucidePencil" class="text-primary w-[1.3rem] h-[1.3rem]" />
        </button>
        <hlm-alert-dialog>
          <button
            id="edit-profile"
            variant="ghost"
            brnAlertDialogTrigger
            title="Delete Customer"
            size="icon"
            hlmBtn
          >
            <hlm-icon name="lucideTrash2" class="text-primary w-[1.3rem] h-[1.3rem]" />
          </button>
          <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
            <hlm-alert-dialog-header>
              <h3 hlmAlertDialogTitle>Are you absolutely sure?</h3>
              <p hlmAlertDialogDescription>
                This action cannot be undone. This will permanently delete customer's
                account and remove data from servers.
              </p>
            </hlm-alert-dialog-header>
            <hlm-alert-dialog-footer class="mt-4">
              <button hlmAlertDialogCancel (click)="ctx.close()">Cancel</button>
              <button hlmAlertDialogAction class="!bg-destructive" (click)="ctx.close()">
                <hlm-icon name="lucideTrash2" class="w-[1.3rem] h-[1.3rem] mr-2" />
                Delete Customer
              </button>
            </hlm-alert-dialog-footer>
          </hlm-alert-dialog-content>
        </hlm-alert-dialog>
        <button hlmBtn variant="ghost" title="View transactions" size="icon">
          <hlm-icon name="lucideReceipt" class="text-primary w-[1.3rem] h-[1.3rem]" />
        </button>
      </div>
    </hlm-td>
  </brn-column-def>
</brn-table>
<nav hlmPagination class="mt-4 flex justify-end">
  
  <brn-select
    class="inline-block h-full"
    placeholder="{{ _availablePageSizes[0] }}"
    [(ngModel)]="pageSize"
    (ngModelChange)="onPageSizeChange($event)"
  >
    <hlm-select-trigger class="inline-flex mr-1 w-15 h-full">
      <hlm-select-value />
    </hlm-select-trigger>
    <hlm-select-content class="cursor-pointer h-full">
      @for (size of _availablePageSizes; track size) {
      <hlm-option [value]="size">
        {{ size === 10000 ? "All" : size }}
      </hlm-option>
      }
    </hlm-select-content>
  </brn-select>
  <ul hlmPaginationContent class="w-fit gap-2">
    <li hlmPaginationItem class="w-20">
      <button
        hlmPaginationLink
        class="w-full px-4 flex items-center bg-white border-border"
        [disabled]="currentPage === 0"
        (click)="
          loadCustomers({
            first: (currentPage - 1) * pageSize,
            rows: pageSize
          })
        "
      >
        Previous
      </button>
    </li>
    <li hlmPaginationItem class="w-20">
      <button
        hlmPaginationLink
        class="w-full px-4 flex items-center bg-white border-border"
        [disabled]="(currentPage + 1) * pageSize >= totalCustomers"
        (click)="
          loadCustomers({
            first: (currentPage + 1) * pageSize,
            rows: pageSize
          })
        "
      >
        Next
      </button>
    </li>
  </ul>
</nav>
