<div class="flex flex-col justify-between gap-4 sm:flex-row">
  <input
    hlmInput
    class="w-full md:w-80 bg-background"
    placeholder="Search by meter number"
    [(ngModel)]="meterNo"
    (ngModelChange)="onMeterNoChange($event)"
  />
  <div class="flex justify-end gap-4">
    <hlm-dialog>
      <button brnDialogTrigger hlmBtn>
        <hlm-icon size="sm" class="mr-2" name="lucideUserPlus" />New customer
      </button>
      <hlm-dialog-content *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 brnDialogTitle hlm class="text-xl font-semibold">
            Create new customer
          </h3>
          <p brnDialogDescription hlm class="text-muted-foreground">
            Please enter customer data
          </p>
        </hlm-dialog-header>
        <div class="py-4">
          <label hlmLabel
            >Name
            <input
              class="w-80"
              hlmInput
              type="text"
              placeholder="Enter customer name"
              #name
            />
          </label>
          <label hlmLabel
            >Email
            <input
              class="w-80"
              hlmInput
              type="email"
              placeholder="Enter customer email"
              #email
            />
          </label>
          <label hlmLabel
            >Phone
            <input
              class="w-80"
              hlmInput
              type="text"
              placeholder="Enter customer phone number"
              #phone
            />
          </label>
          <label hlmLabel
            >Address
            <input
              class="w-80"
              hlmInput
              type="text"
              placeholder="Enter customer address"
              #address
            />
          </label>
        </div>
        <hlm-dialog-footer>
          <button
            hlmBtn
            class="w-full"
            (click)="
              createCustomer(
                name.value,
                email.value,
                phone.value,
                address.value,
                ctx
              )
            "
            type="submit"
          >
            <hlm-icon size="sm" class="mr-2" name="lucideUserPlus" />Create
          </button>
        </hlm-dialog-footer>
      </hlm-dialog-content>
    </hlm-dialog>
    <hlm-dialog>
      <button brnDialogTrigger hlmBtn>
        <hlm-icon size="sm" class="mr-2" name="lucideImport" />Import Customers
      </button>
      <hlm-dialog-content *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h3 brnDialogTitle hlm class="text-xl font-semibold">
            Import Customers Data
          </h3>
          <p brnDialogDescription hlm class="text-muted-foreground">
            Import csv file by selecting it from your computer
          </p>
        </hlm-dialog-header>
        <div class="py-4">
          <input
            class="w-full"
            hlmInput
            type="file"
            accept=".csv"
            (change)="onFileSelected($event)"
            #fileInput
          />
        </div>
        <hlm-dialog-footer>
          <button
            hlmBtn
            class="w-full"
            (click)="importFile(fileInput, ctx)"
            type="submit"
          >
            <hlm-icon size="sm" class="mr-2" name="lucideImport" />Import
          </button>
        </hlm-dialog-footer>
      </hlm-dialog-content>
    </hlm-dialog>
  </div>
</div>
<brn-table
  hlm
  stickyHeader
  class="border-border mt-4 block min-h-[400px] overflow-auto rounded-md border"
  [dataSource]="customers"
  [displayedColumns]="_allDisplayedColumns()"
  [trackBy]="_trackBy"
>
  <brn-column-def name="meterNo" class="w-[16%]">
    <hlm-th *brnHeaderDef>Meter No</hlm-th>
    <hlm-td *brnCellDef="let customer">
      {{ customer.meterNo }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="name" class="w-[16%]">
    <hlm-th *brnHeaderDef>Name</hlm-th>
    <hlm-td *brnCellDef="let customer">
      {{ customer.name }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="email" class="w-[16%] text-center">
    <hlm-th *brnHeaderDef>Email</hlm-th>
    <hlm-td truncate *brnCellDef="let customer">
      {{ customer.email }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="phone" class="w-[16%]">
    <hlm-th *brnHeaderDef>Phone</hlm-th>
    <hlm-td *brnCellDef="let customer">
      {{ customer.phone }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="address" class="w-[16%]">
    <hlm-th *brnHeaderDef>Address</hlm-th>
    <hlm-td *brnCellDef="let customer">
      {{ customer.address }}
    </hlm-td>
  </brn-column-def>
  <brn-column-def name="actions" class="w-[20%]">
    <hlm-th *brnHeaderDef [attr.colspan]="4">Actions</hlm-th>
    <hlm-td
      *brnCellDef="let customer"
      class="cursor-pointer"
      [attr.colspan]="4"
    >
      <div class="flex gap-2">
        <hlm-alert-dialog>
          <button
            id="view"
            variant="ghost"
            brnAlertDialogTrigger
            title="View Customer"
            size="icon"
            hlmBtn
            (click)="viewCustomer(customer.meterNo)"
          >
            <hlm-icon
              name="lucideEye"
              class="text-primary w-[1.3rem] h-[1.3rem]"
            />
          </button>
          <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
            <hlm-alert-dialog-header>
              <h3 hlmAlertDialogTitle>Customer Information</h3>
            </hlm-alert-dialog-header>
            <!-- Customer Data Section -->
            <div *ngIf="customer; else loading">
              <p><strong>Meter No:</strong> {{ customer.meterNo }}</p>
              <p><strong>Name:</strong> {{ customer.name }}</p>
              <p><strong>Email:</strong> {{ customer.email }}</p>
              <p><strong>Phone:</strong> {{ customer.phone }}</p>
              <p><strong>Address:</strong> {{ customer.address }}</p>
              <!-- Add more customer fields as needed -->
            </div>

            <!-- Loading Placeholder -->
            <ng-template #loading>
              <p>Loading customer data...</p>
            </ng-template>
            <hlm-alert-dialog-footer class="mt-4">
              <button hlmAlertDialogCancel (click)="ctx.close()">close</button>
            </hlm-alert-dialog-footer>
          </hlm-alert-dialog-content>
        </hlm-alert-dialog>
        <!-- edit -->
        <hlm-dialog>
          <button
            id="edit"
            variant="ghost"
            brnAlertDialogTrigger
            title="Edit Customer"
            size="icon"
            hlmBtn
          >
            <hlm-icon
              name="lucidePencil"
              class="text-primary w-[1.3rem] h-[1.3rem]"
            />
          </button>
          <hlm-dialog-content *brnDialogContent="let ctx">
            <hlm-dialog-header>
              <h3 brnDialogTitle hlm class="text-xl font-semibold">
                Edit customer data
              </h3>
              <p brnDialogDescription hlm class="text-muted-foreground">
                Please enter customer data to update
              </p>
            </hlm-dialog-header>
            <div class="py-4">
              <label hlmLabel
                >Name
                <input
                  class="w-80"
                  hlmInput
                  type="text"
                  placeholder="Enter customer name"
                  #name
                />
              </label>
              <label hlmLabel
                >Phone
                <input
                  class="w-80"
                  hlmInput
                  type="text"
                  placeholder="Enter customer phone number"
                  #phone
                />
              </label>
              <label hlmLabel
                >Address
                <input
                  class="w-80"
                  hlmInput
                  type="text"
                  placeholder="Enter customer address"
                  #address
                />
              </label>
            </div>
            <hlm-dialog-footer>
              <button
                hlmBtn
                class="w-full"
                (click)="
                  updateCustomer(
                    customer.meterNo,
                    name.value,
                    phone.value,
                    address.value,
                    ctx
                  )
                "
                type="submit"
              >
                <hlm-icon size="sm" class="mr-2" name="lucidePencil" />Update
              </button>
            </hlm-dialog-footer>
          </hlm-dialog-content>
        </hlm-dialog>
        <!-- delete -->
        <hlm-alert-dialog>
          <button
            id="delete"
            variant="ghost"
            brnAlertDialogTrigger
            title="Delete Customer"
            size="icon"
            hlmBtn
          >
            <hlm-icon
              name="lucideTrash2"
              class="text-primary w-[1.3rem] h-[1.3rem]"
            />
          </button>
          <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
            <hlm-alert-dialog-header>
              <h3 hlmAlertDialogTitle>Are you absolutely sure?</h3>
              <p hlmAlertDialogDescription>
                This action cannot be undone. This will permanently delete
                customer's account and remove data from servers.
              </p>
            </hlm-alert-dialog-header>
            <hlm-alert-dialog-footer class="mt-4">
              <button hlmAlertDialogCancel (click)="ctx.close()">Cancel</button>
              <button
                hlmAlertDialogAction
                class="!bg-destructive"
                (click)="deleteCustomer(customer.meterNo, ctx)"
              >
                <hlm-icon
                  name="lucideTrash2"
                  class="w-[1.3rem] h-[1.3rem] mr-2"
                />
                Delete Customer
              </button>
            </hlm-alert-dialog-footer>
          </hlm-alert-dialog-content>
        </hlm-alert-dialog>
        <!-- view transaction -->
        <hlm-dialog>
          <button
            id="viewTransactions"
            variant="ghost"
            brnAlertDialogTrigger
            title="View Transactions"
            size="icon"
            hlmBtn
            (click)="viewTransactions(customer.meterNo)"
          >
            <hlm-icon
              name="lucideReceipt"
              class="text-primary w-[1.3rem] h-[1.3rem]"
            />
          </button>
          <hlm-dialog-content *brnDialogContent="let ctx" class="w-[80%]">
            <hlm-dialog-header>
              <h3 brnDialogTitle hlm class="text-xl font-semibold">
                Customer Transactions
              </h3>
              <p brnDialogDescription hlm class="text-muted-foreground">
                {{ customer.name }}
              </p>
            </hlm-dialog-header>
            <div class="py-4">
              <brn-table
                hlm
                stickyHeader
                class="border-border mt-4 block min-h-[400px] rounded-md border"
                [dataSource]="transactions"
                [displayedColumns]="_allModalDisplayedColumns()"
                [trackBy]="_modalTrackBy"
              >
                <brn-column-def name="transactionDate" class="w-[16%]">
                  <hlm-th *brnHeaderDef>Payment Date</hlm-th>
                  <hlm-td *brnCellDef="let customer" class="text-ellipsis">
                    {{ customer.transactionDate | date: 'MMM dd, yy' }}
                  </hlm-td>
                </brn-column-def>
                <brn-column-def name="amount" class="w-[16%] text-center">
                  <hlm-th *brnHeaderDef>Amount</hlm-th>
                  <hlm-td  *brnCellDef="let customer" class="text-ellipsis">
                    {{ customer.amount | currency: 'INR' }}
                  </hlm-td>
                </brn-column-def>
                <brn-column-def name="paymentMethod" class="w-[16%]">
                  <hlm-th *brnHeaderDef>Payment Method</hlm-th>
                  <hlm-td *brnCellDef="let customer" class="text-ellipsis">
                    {{ customer.paymentMethod | titlecase }}
                  </hlm-td>
                </brn-column-def>
                <div
                  class="flex items-center justify-center p-20 text-muted-foreground"
                  brnNoDataRow
                >
                  No data available
                </div>
              </brn-table>
            </div>
          </hlm-dialog-content>
        </hlm-dialog>
      </div>
    </hlm-td>
  </brn-column-def>
  <div
    class="flex items-center justify-center p-20 text-muted-foreground"
    brnNoDataRow
  >
    No data available
  </div>
</brn-table>
<nav hlmPagination class="mt-4 flex justify-end">
  <brn-select
    class="inline-block h-full"
    placeholder="{{ _availablePageSizes[0] }}"
    [(ngModel)]="pageSize"
    (ngModelChange)="onPageSizeChange($event)"
  >
    <hlm-select-trigger class="inline-flex mr-1 w-15 h-full">
      <hlm-select-value />
    </hlm-select-trigger>
    <hlm-select-content class="cursor-pointer h-full">
      @for (size of _availablePageSizes; track size) {
      <hlm-option [value]="size">
        {{ size === 10000 ? "All" : size }}
      </hlm-option>
      }
    </hlm-select-content>
  </brn-select>
  <ul hlmPaginationContent class="w-fit gap-2">
    <li hlmPaginationItem class="w-20">
      <button
        hlmPaginationLink
        class="w-full px-4 flex items-center bg-white border-border"
        [disabled]="currentPage === 0"
        (click)="
          loadCustomers({
            first: (currentPage - 1) * pageSize,
            rows: pageSize
          })
        "
      >
        Previous
      </button>
    </li>
    <li hlmPaginationItem class="w-20">
      <button
        hlmPaginationLink
        class="w-full px-4 flex items-center bg-white border-border"
        [disabled]="(currentPage + 1) * pageSize >= totalCustomers"
        (click)="
          loadCustomers({
            first: (currentPage + 1) * pageSize,
            rows: pageSize
          })
        "
      >
        Next
      </button>
    </li>
  </ul>
</nav>
