<p-card class="w-96">
  <div class="flex flex-col justify-center items-center gap-4 mb-8">
    <img class="w-14" src="assets/img/logo.png" alt="BBC" />
    <h3 class="md:text-xl font-bold">Bharat Bijili Corporation</h3>
    <p class="text-muted text-sm">
      @if(currentStep === 1) { Please enter your id to receive the code. } @else
      { Please enter the code sent to your email. }
    </p>
  </div>
  <form
    class="text-xs flex flex-col gap-8"
    [formGroup]="loginForm"
    autocomplete="off"
  >
    @if(currentStep === 1){
    <p-iconField iconPosition="left" class="w-full">
      <p-inputIcon styleClass="fa-solid fa-user" class="text-sm" />
      <input
        class="w-full text-xs"
        type="text"
        pInputText
        pAutoFocus
        [autofocus]="true"
        formControlName="identifier"
        [required]="true"
        placeholder="Employee ID or Customer ID"
      />
    </p-iconField>
    } @if(currentStep > 1){
    <div class="flex flex-col items-center w-full">
      <p-inputOtp
        formControlName="otp"
        [length]="6"
        [style]="{ gap: '0', width: '100%', position: 'relative' }"
      >
        <ng-template
          pTemplate="input"
          let-token
          let-events="events"
          let-index="index"
        >
          <input
            pInputText
            type="text"
            [maxLength]="1"
            pAutoFocus
            [autofocus]="index === 1 ? true : false"
            (input)="events.input($event)"
            (keydown)="events.keydown($event)"
            [attr.value]="token"
            class="w-12 text-center"
          />
          <div *ngIf="index === 3" class="px-3">
            <i class="pi pi-minus"></i>
          </div>
        </ng-template>
      </p-inputOtp>
    </div>
    } @if(isOtpSent && !canResendOtp){

    <p class="text-center">Resend OTP in {{ resendCountdown }} seconds</p>
    } @if(canResendOtp){

    <p *ngIf="canResendOtp" class="text-center">
      <button
        (click)="sendOtp()"
        pButton
        icon="fa-solid fa-paper-plane"
        [loading]="isLoading"
        [text]="true"
        size="small"
        label="Resend OTP"
      ></button>
    </p>
    }

    <div class="flex justify-center">
      <button
        (click)="currentStep === 1 ? sendOtp() : login()"
        pButton
        [icon]="
          currentStep === 1 ? 'fa-solid fa-paper-plane' : 'fa-solid fa-sign-in'
        "
        [loading]="currentStep === 1 && isLoading"
        class="bg-tertiary border-tertiary w-full flex justify-center items-center gap-2 text-sm"
        [label]="currentStep === 1 ? 'Send OTP' : 'Login'"
      ></button>
    </div>
  </form>
</p-card>
