<div class="login-container">
    <div class="login-box">
      <div class="login-header">
        <img src="https://api.logo.com/api/v2/images?logo=logo_3733fa5b-8258-4183-846b-5c3983de9591&format=webp&width=2000&background=transparent&fit=contain&quality=100&u=2024-09-26T10%3A31%3A30.912Z" alt="Logo" class="logo">
        <!-- <h2>Hi, Welcome Back</h2> -->
        <p><b>Enter your credentials to continue</b></p>
      </div>
      
      <form (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="employeeId">Employee ID</label>
          <input type="text" id="employeeId" [(ngModel)]="employeeId" name="employeeId" required>
        </div>
        
        <div class="input-group">
          <label for="otp">OTP</label>
          <input type="text" id="otp" [(ngModel)]="otp" name="otp" required>
        </div>
  
        <!-- Button to generate OTP -->
        <button type="button" (click)="generateOTP()">Generate OTP</button>
  
        <!-- Show the generated OTP if available -->
        <div *ngIf="otpGenerated" class="generated-otp">
          <p>Generated OTP: <strong>{{ generatedOtp }}</strong></p>
        </div>
  
        <!-- Submit button -->
        <button type="submit">Login</button>
      </form>
      
      <!-- <div class="footer">
        <a href="#">Don't have an account?</a>
      </div> -->
    </div>
  </div>
  