@import "@angular/cdk/overlay-prebuilt.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sans: "";
}

:root {
  --background: 0 0% 100%;
  --foreground: 224 71.4% 4.1%;
  --muted: 220 14.3% 95.9%;
  --muted-foreground: 220 8.9% 46.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 224 71.4% 4.1%;
  --card: 0 0% 100%;
  --card-foreground: 224 71.4% 4.1%;
  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --primary: 162.3 72.9% 41.2%; /* #1db386 */
  --primary-foreground: 210 20% 98%;
  --secondary: 162.3 72.9% 41.2%; /* Matching secondary to #1db386 */
  --secondary-foreground: 220.9 39.3% 11%;
  --accent: 220 14.3% 95.9%;
  --accent-foreground: 220.9 39.3% 11%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 20% 98%;
  --ring: 162.3 72.9% 41.2%;
  --radius: 0.5rem;
  color-scheme: light;
}

.dark {
  --background: 224 71.4% 4.1%;
  --foreground: 210 20% 98%;
  --muted: 215 27.9% 16.9%;
  --muted-foreground: 217.9 10.6% 64.9%;
  --popover: 224 71.4% 4.1%;
  --popover-foreground: 210 20% 98%;
  --card: 224 71.4% 4.1%;
  --card-foreground: 210 20% 98%;
  --border: 215 27.9% 16.9%;
  --input: 215 27.9% 16.9%;
  --primary: 162.3 72.9% 41.2%; /* #1db386 */
  --primary-foreground: 210 20% 98%;
  --secondary: 162.3 72.9% 41.2%; /* Matching secondary to #1db386 */
  --secondary-foreground: 210 20% 98%;
  --accent: 215 27.9% 16.9%;
  --accent-foreground: 210 20% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 20% 98%;
  --ring: 216 12.2% 83.9%;
  color-scheme: dark;
}

body {
  @apply overflow-hidden h-screen;
}

.cdk-header-row,
.cdk-row {
  @apply justify-around;
}

brn-table {
  @apply bg-background;
}

hlm-th,
hlm-td {
  @apply justify-center;
}

.fade {
  transition: all 0.3s ease-in-out;
}

*::-webkit-scrollbar {
  @apply w-[5px] rounded-full;
}

*::-webkit-scrollbar-track {
  @apply bg-slate-600 rounded-full;
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}

input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.error{
  @apply text-destructive;
}