@if(latestInvoice !== null){
<div class="p-4 bg-white w-fit shadow-md rounded-md flex gap-4">
    <div>
        <h2 class="font-bold text-primary mb-2">Pay Invoice</h2>
        <div class="text-sm font-semibold flex flex-col gap-2">
            <p>
                Amount:
                <span class="font-light text-xs">{{
                    latestInvoice.amountDue | currency : "INR"
                }}</span>
            </p>
            <p>
                Due Date:
                <span class="font-light text-xs">{{
                    latestInvoice.billDueDate | date : "longDate"
                }}</span>
            </p>
        </div>
    </div>
    <div>
        <button class="btn-danger w-20 !text-xs">
            <i class="fa-solid fa-money-check-dollar mr-2"></i>
            Pay
        </button>
    </div>
</div>
}
