@if(latestInvoice !== null){
<p-card>
  <div class="inner">
    <div class="flex flex-col font-semibold">
      <span class="text-lg text-primary">Pay Invoice</span>
      <span class="text-xs text-muted">{{ latestInvoice.billDuration }}</span>
    </div>
    <div>
      <p class="text-sm font-semibold">
        Amount:
        <span class="font-light text-xs text-primary">{{
          latestInvoice.totalAmountDue | currency : "INR"
        }}</span>
      </p>
      <p class="text-sm font-semibold">
        Due Date:
        <span class="font-light text-xs">{{
          latestInvoice.billDueDate | date : "longDate"
        }}</span>
      </p>
    </div>
  </div>
  <div class="flex flex-col justify-between">
    <button
      pButton
      routerLink="/pay/{{latestInvoice.invoiceId}}/{{ user?.meterNo }}"
      size="small"
      icon="pi pi-credit-card"
      label="Pay Now"
      severity="danger"
    ></button>
    <button
      (click)="
        downloadInvoicePdf(latestInvoice.invoicePdf, latestInvoice.invoiceId)
      "
      pButton
      size="small"
      icon="pi pi-download"
      label="Download"
      severity="success"
      [outlined]="true"
    ></button>
  </div>
</p-card>
}
